pandas>=2.2
numpy>=1.26,<2.1
scipy>=1.13
scikit-learn>=1.5
matplotlib>=3.8
seaborn>=0.13
statsmodels>=0.14
tqdm
python-dotenv
requests
pyarrow
jupyter
ipykernel

prophet>=1.1.5

cvxpy>=1.5

torch>=2.2
gluonts>=0.15

stable-baselines3>=2.3
gymnasium>=0.29
